body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    /* background: #E5E5E5; */
}

.hero {
    display: flex;
    padding-left: 20px;
    /* padding-right: 20px;
    padding-top: 50px; */
    margin: 100px 70px;


}

h3 {
    font-weight: 900;
}

.half-width h1 {
    font-size: 40px;
    font-weight: 900;
}

span {
    color: orange
}

.half-width {
    width: 50%;
}

.hero p {
    margin-top: 50px;
    margin-bottom: 50px;
}

.half-width img {
    width: 100%;
}

.btn {
    background-image: linear-gradient(rgb(207, 144, 27), rgb(244, 111, 88));
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 50px;
    margin-top: 50px;
    color: white;
    /* box-shadow: 1px 1px 10px solid rgb(152, 15, 15); */
}

.about-me {
    display: flex;
    margin-top: 100px;
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    height: 500px;
}

.about-me .left {
    width: 50%;
    padding-top: 100px;
}

.about-me .left img {
    width: 50%;
    height: 100%;
    padding-left: 100px;
    /* border: 3px solid yellowgreen; */
}

.about-me .right {
    width: 50%;
    margin-top: 50px;
    padding: 70px;
}

.about-me p {
    margin-top: 50px;
    margin-bottom: 80px;
}

.about-me .btn {
    margin-top: 100px;
}

.my-receipies {
    margin-top: 100px;
}

.descreption p {
    width: 80%;
    text-align: center;
    word-break: break-all
}

.descreption {
    border: 3px solid rgb(152, 152, 33);

}




.cards {
    margin: 50px;
    /* border: 3px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.card {
    width: 40%;
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    margin-right: 30px;
    /* border: 3px solid green; */
}

.card img {
    width: 100%;
}

.card h3 {
    font-weight: 900;

}

.social-media {
    margin-top: 50px;
    padding: 30px;
    /* border: 3px solid grey; */
}

.all-info {
    margin: 30px;
    padding: 40px;
    background: #FFFFFF;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    margin-right: 30px;
    /* border: 3px solid yellowgreen; */

}

footer {
    background: black;
    padding-top: 30px;
    padding-bottom: 70px;
    color: white;
    text-align: center;
}